<!-- Web.Config Configuration File -->

<configuration>
    <system.web>
        <customErrors mode="Off"/>
    </system.web>

    <system.webServer>
    
        <rewrite>
            <rules>
            <rule name="myapp">
             <match url="/*" />
             <action type="Rewrite" url="package.json" />
            </rule>
            </rules>
        </rewrite>

        <httpErrors errorMode="Detailed"></httpErrors>
    </system.webServer>
</configuration>
