<!-- Web.Config Configuration File -->

<configuration>
    <system.web>
        <customErrors mode="Off"/>
    </system.web>

    <system.webServer>
        
    <!-- Make sure error responses are left untouched -->
    <httpErrors existingResponse="PassThrough" />

    </system.webServer>
</configuration>
