<!-- Web.Config Configuration File -->

<configuration>
    <system.web>
        <customErrors mode="Off"/>
    </system.web>

    <system.webServer>
    
      <handlers>
        <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
      </handlers>

      <rewrite>
       <rules>
     
      <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
             <rule name="StaticContent">
                 <action type="Rewrite" url="public{REQUEST_URI}" />
             </rule>

      <!-- All other URLs are mapped to the Node.js application entry point -->
            <rule name="DynamicContent">
                 <match url="/*" />
                 <action type="Rewrite" url="server.js"/>
            </rule>
       </rules>
      </rewrite>
    
    <!-- Make sure error responses are left untouched -->
    <httpErrors existingResponse="PassThrough" />

    </system.webServer>
</configuration>
